@font-face {
    font-family: 'Burbank Big Cd Bd';
    src: url('../fonts/BurbankBigCondensed-Bold.woff2') format('woff2'),
        url('../fonts/BurbankBigCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}